@import './variables.scss';

.button,
a.button {
  display: inline-block !important;
  text-align: center;
  outline: none;
  border: 1px solid $color-button-border;
  border-radius: $border-radius;
  color: $color;
  background-color: transparent;
  padding: 0 15px;
  line-height: 28px;
  cursor: pointer;

  &:hover {
    border-color: $color-button-border-hover;
    color: $color-button-hover;
  }

  &.primary {
    color: #fff !important;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: $color-primary-hover;
      border-color: $color-primary-hover;
    }
  }
}
